In [1]:
import pandas as pd

In [2]:
netflix = pd.read_csv(r"C:\Users\user\Desktop\HAGITAL\5. DATA ENGINEERING\ASSIGNMENTS\netflix_titles.csv")

In [3]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [5]:
# Fill missing values in 'country' column with 'Unknown'
netflix['country'] = netflix['country'].fillna('Unknown')

In [6]:
# Verify that there are no more missing values in 'country'
netflix['country'].isna().sum()

np.int64(0)

In [7]:
# Drop rows where 'title' or 'type' is missing
netflix = netflix.dropna(subset=['title', 'type'])

In [8]:
# Check for missing values in 'title' and 'type'
netflix[['title', 'type']].isna().sum()

title    0
type     0
dtype: int64

In [9]:
# Count Movies vs TV Shows
netflix['type'].value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [10]:
# Top 10 most frequent countries
netflix['country'].value_counts().head(10)

country
United States     2818
India              972
Unknown            831
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Name: count, dtype: int64

In [11]:
# Convert 'date_added' column to datetime format
netflix['date_added'] = pd.to_datetime(netflix['date_added'], errors='coerce')

In [12]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,Unknown,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [13]:
# Create new column 'year_added' from 'date_added'
netflix['year_added'] = netflix['date_added'].dt.year

In [14]:
netflix[['date_added', 'year_added']].head()

  date_added  year_added
0 2021-09-25      2021.0
1 2021-09-24      2021.0
2 2021-09-24      2021.0
3 2021-09-24      2021.0
4 2021-09-24      2021.0

In [15]:
# Filter shows released before the year 2000
shows_before_2000 = netflix[netflix['release_year'] < 2000]

In [16]:
shows_before_2000.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",2021.0
22,s23,Movie,Avvai Shanmughi,K.S. Ravikumar,"Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...",Unknown,2021-09-21,1996,TV-PG,161 min,"Comedies, International Movies",Newly divorced and denied visitation rights wi...,2021.0
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,2021-09-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...,2021.0
26,s27,Movie,Minsara Kanavu,Rajiv Menon,"Arvind Swamy, Kajol, Prabhu Deva, Nassar, S.P....",Unknown,2021-09-21,1997,TV-PG,147 min,"Comedies, International Movies, Music & Musicals",A tangled love triangle ensues when a man fall...,2021.0
41,s42,Movie,Jaws,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",United States,2021-09-16,1975,PG,124 min,"Action & Adventure, Classic Movies, Dramas",When an insatiable great white shark terrorize...,2021.0

In [18]:
# count films released before the year 2000
len(shows_before_2000)

525

In [19]:
# Split the genres and count all occurrences
from collections import Counter

In [20]:
# Split and flatten the genre list
all_genres = netflix['listed_in'].dropna().str.split(', ')
flat_genres = [genre for sublist in all_genres for genre in sublist]

In [22]:
# Count the most common genre
genre_counts = Counter(flat_genres)
most_common_genre = genre_counts.most_common(1)

most_common_genre

[('International Movies', 2752)]

In [23]:
# Filter shows directed by 'Rajkumar Hirani'
hirani_shows = netflix[netflix['director'] == 'Rajkumar Hirani']

In [24]:
# Display the result
hirani_shows

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added
1114,s1115,Movie,3 Idiots,Rajkumar Hirani,"Aamir Khan, Kareena Kapoor, Madhavan, Sharman ...",India,2021-04-01,2009,PG-13,164 min,"Comedies, Dramas, International Movies",While attending one of India's premier college...,2021.0
4507,s4508,Movie,Sanju,Rajkumar Hirani,"Ranbir Kapoor, Vicky Kaushal, Paresh Rawal, So...",India,2018-10-15,2018,TV-MA,159 min,"Dramas, International Movies",From the depths of addiction to the heights of...,2018.0
4660,s4661,Movie,PK,Rajkumar Hirani,"Aamir Khan, Anuskha Sharma, Sanjay Dutt, Saura...",India,2018-09-06,2014,TV-14,146 min,"Comedies, Dramas, International Movies",Aamir Khan teams with director Rajkumar Hirani...,2018.0

In [25]:
# Count shows by rating
netflix['rating'].value_counts()

rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: count, dtype: int64

In [26]:
# Filter only movies
movies = netflix[netflix['type'] == 'Movie'].copy()

In [27]:
# Extract duration as integer (remove 'min' and convert to numeric)
movies['duration_minutes'] = movies['duration'].str.extract('(\d+)').astype(float)

In [28]:
# Filter movies with duration > 100 minutes
long_movies = movies[movies['duration_minutes'] > 100]

In [29]:
# Show result
long_movies[['title', 'duration', 'duration_minutes']]

                              title duration  duration_minutes
7                           Sankofa  125 min             125.0
9                      The Starling  104 min             104.0
12                     Je Suis Karl  127 min             127.0
22                  Avvai Shanmughi  161 min             161.0
24                            Jeans  166 min             166.0
...                             ...      ...               ...
8790  You Don't Mess with the Zohan  113 min             113.0
8798                       Zed Plus  131 min             131.0
8799                          Zenda  120 min             120.0
8802                         Zodiac  158 min             158.0
8806                         Zubaan  111 min             111.0

[2814 rows x 3 columns]

In [30]:
# Extract numeric duration and create 'content_length' column
netflix['content_length'] = netflix['duration'].str.extract('(\d+)').astype('Int64')

In [31]:
# Preview the result
netflix[['duration', 'content_length']].head()

    duration  content_length
0     90 min              90
1  2 Seasons               2
2   1 Season               1
3   1 Season               1
4  2 Seasons               2

In [32]:
# Sort by release_year in descending order
netflix_sorted = netflix.sort_values(by='release_year', ascending=False)

In [33]:
# To view a few rows
netflix_sorted[['title', 'release_year']].head()

                    title  release_year
1           Blood & Water          2021
2               Ganglands          2021
3   Jailbirds New Orleans          2021
31     Chicago Party Aunt          2021
30        Ankahi Kahaniya          2021